#nav{
    background-color: white;
    color:black;
    border-bottom: 1px solid lightGray;
    height: 50px;
}

#nav a{
    cursor:pointer;
    color: black;
    margin: 0;
}




.botonSideNav{
    background-color:white;
    height: auto;
    border: 0px;
    cursor: pointer;
    margin: 10px;
    margin-top: 15px;
    color: lightgray;
    float:left;
}

.navDerecha{
    float:right;
}


.navDerecha .dropdown1{
    float: right;
}

.navDerecha a{
    padding: 15px 5px;
    display: inline-flex;
}

.navDerecha .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border:1px solid lightgray;
  }

 .navDerecha .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .navDerecha a:hover, .dropdown1:hover .dropbtn {
    color: white;
    background-color: lightgray;

  }
  

  .navDerecha .dropdown1:hover .dropdown-content {
    display: block;
  }



  .navDerecha .dropdown1 .dropbtn {
    border:0px;
    background: transparent;
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    display: inline-flex;
    height: 50px;
  }

  .dropbtn p{
    margin: 0px;
  }

  .navDerecha .dropdown1 .dropbtn:hover {
    background-color: lightgray;
  }

  .navDerecha i{
    margin-top: 3px;
  }





.logo{
    float:left;
}

.logo h1{
    display:inline-block;
}

.logo img{
    height:50px;
    width: 10vh;
}

.sidenav {
    display:none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 1px solid lightgray;
    

  }

  .sidenav img{
      max-width:100%;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover{
      background-color: floralwhite;
  }

  .contenido{
      padding: 20px;
  }

  .profilePictur{
    border-radius: 50px;
    border: 1px solid lightgray;
    width:40px;
  }

  .profilePictur img{
    max-width: 100%;
    border-radius: 50px;
  }

  .droptexto{
    height: 40px;
    align-items: center;
    display: inline-flex;
    margin-left: 4px !important;
  }

  @media (min-width: 768px) {
      .sidenav{
        width:250px;
        position: absolute;
        top: auto;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        display: block !important;
        z-index: 1;
        border-right: 1px solid lightgray;
        background-color: white;

      }
      .contenido{
        margin-left:250px;
      }

      .botonSideNav{
          display: none;
      }

      .logo{
        margin-left:15px;
    }
   }
  @media (min-width: 1024){
      .sidenav{
        height: calc(100% - 60px);
        width:250px;
        position: absolute;
        top:auto;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        display: block !important;
        z-index: 1;
        border-right: 1px solid lightgray;
        background-color: white;
      }

      .botonSideNav{
        display: none;
    }

    .logo{
        margin-left:15px;
    }

  }